body{
    height: 100%;
    margin-top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Optional: Background color for the page */
}
.registration-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .registration-container h1 {
    /* text-align: center; */
    margin-bottom: 5px;
  }
  .registration-container h5{
    margin-top: 2px;
  }
  .registration-container h5 a{
    text-decoration: none;
  }
  .registration-container form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  #fullname{
    margin-right: 30px;
  }
  
  .registration-container button {
    padding: 10px;
    background-color: #6200ea;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .registration-container .social-signup {
    text-align: center;
    margin-top: 20px;
  }
  
  .registration-container .social-signup p {
    margin: 10px 0;
  }
  
  .registration-container .social-signup button {
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .facebook-signup {
    background-color: #3b5998;
    color: white;
  }
  
  .google-signup {
    background-color: #db4437;
    color: white;
  }